.wrapper {
  background: #DDD;
}
.background1 {
  background: #FDD;
}
.background2 {
  background: #CDD;
}
.background3 {
  background: #DFD;
}
.background4 {
  background: #DCD;
}
.background5 {
  background: #FFF;
}
